table{
    margin-top: 30px;
    .glyphicon{
        margin: 0 10px;
        cursor: pointer;
    }
    .pad-20{
        padding: 20px;
        display: block;
        background-color: transparent !important;
    }
}