<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th *ngIf="!enableKey">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of formDataSet |async; let  i = index" >
                        <td>{{i + 1}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.desc}}</td>
                        <td>{{item.status}}</td>
                        <td *ngIf="!enableKey">
                            <p class="glyphicon glyphicon-pencil" (click)="onEdit(i)"   aria-hidden="true"></p>
                            <p class="glyphicon glyphicon-trash" (click)="onDelete(i)" aria-hidden="true"></p>
                        </td>
                    </tr>
                    <tr class="pad-20" *ngIf="(formDataSet | async) == ''">
                        No Data Create Task
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>
